@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3 {
    font-family: Montserrat, "Open Sans";
}

body {
    font-family: "Open Sans";
    font-weight: 300;
    color: darkslategray;
    height: 100%;
}

/* header and navigation */

#header-logo {
    font-size: 230%;
    text-decoration: none;
    float: left;
    margin: 20px;
    color: #fff;
}

#menu  {
    font-size: 110%;
    margin: 20px;
    float: right;
}

#menu a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

#menu li {
    display: inline;
}

#menu, #header-logo {
    line-height: 60px;
}

#menu li:hover {
    font-size: 120%;
}

.active {
    border-bottom: 2px solid;
}

/* hero image and overlay text */

#hero-image {
    background: url("../images/hero-image.jpg");
    height: 90vh;
    width: 100vw;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-text {
    color: #fff;
    text-align: center;
    font-size: 180%;

    width: 50%;
    height: 25%;

    bottom: 100px;
    position: absolute;

    background-color: rgba(96, 84, 90, 0.5);
}

/* section for advantages */

#advantages {
    width: 100%;
    height: 50vh;
    padding-top: 50px;

    text-align: center;
}

.advantages {
    width: 90%;
    padding-top: 50px;
    margin: 25px auto;
    
    display: flex;
    flex-direction: row;
}

hr { 
    border-top: 5px solid darkslategray;
    width: 10%;
    padding-top: 15px;
    margin: 0 auto;
    align: center;
}

#left-adv-heading {
    margin-bottom:10px;
}

#center-adv-heading {
    margin-bottom:10px;
}

#right-adv-heading {
    margin-bottom:10px;
}

/* Popular smoothies with pictures and text */

#popular-smoothies {
    width: 100vw;
    height: 50vh;
    
    text-align: center;
    background: darkslategrey;

    display: flex;
}

.popular-layer {
    background-color:rgba(96, 84, 90, 0.3);
    width: 100%;
    height: inherit;
    color: #fff;
}

.popular-layer h2 {
    position: center;
    padding-top: 45px;
}

button {
    width: 100px;
    height: 40px;
    margin-top: 10px;

    font-family: Montserrat;
    text-transform: uppercase;
    border: 1px solid #fff;

    color: #fff;
    background-color: transparent;
}

button:hover {
    transform: scale(1.2);
}

#banana-image {
    width: 25%;
    height: 50vh;

    background: url("../images/banana-smoothie.jpg") no-repeat center center;
    background-size: cover;

}

#strawberry-image {
    width: 25%;
    height: 50vh;

    background: url("../images/strawberry.smoothie.jpg") no-repeat center center;
    background-size: cover;

}

#coconut-image {
    width: 25%;
    height: 50vh;

    background: url("../images/coconut-smoothie.jpg") no-repeat center center;
    background-size: cover;

}

#blueberry-image {
    width: 25%;
    height: 50vh;

    background: url("../images/blueberry-smoothie.jpg") no-repeat center center;
    background-size: cover;

}

/* footer socials */

.socials {
    width: 100vw;
    height: 20vh;
    font-size: 200%;
    text-align: center;
    background-color: #fff;
}

.socials a {
    color: darkslategray;
    margin: 35px;
}

.socials > li {
    display: inline;
}

.socials i {
    padding-top: 60px;
}

/* Recipe page */

/* Background image */

#recipes-images {
    width: 100vw;
    height: 90vh;

    background: url("../images/recipe-image.jpg") no-repeat center center;
    background-color: slategray;
    background-size: cover;
    background-position: top;
}

#recipes-overlay {
    color: #fff;
    text-align: center;
    font-size: 180%;

    width: 600px;
    height: 100px;

    bottom: 100px;
    left: 80px;

    padding: 25px;

    background-color: rgba(96, 84, 90, 0.5);

    position: absolute;
}

/* recipes section */

.recipes-container {
    width: 100vw;
    height: 1200px;
    color: darkslategray;
    font-size: 120%;
}

#banana-recipe-image {
    width: 50%;
    height: 600px;

    background: url("../images/banana-smoothie.jpg") no-repeat center center;
    background-size: cover;
    float: left;
}

#banana-recipe-text {
    width: 40%;
    height: 600px;
    float: right;
    padding-right: 50px;
}

#banana-recipe-text button {
    width: 130px;
    height: 40px;
    margin-top: 10px;
    
    font-family: Montserrat;
    text-transform: uppercase;
    text-decoration:none;
    border: 1px solid darkslategray;
    
    color: darkslategray;
    background-color: transparent;
}

#strawberry-recipe-image {
    width: 50%;
    height: 600px;

    background: url("../images/strawberry.smoothie.jpg") no-repeat center center;
    background-size: cover;
    float: right;
}

#strawberry-recipe-text {
    width: 40%;
    height: 600px;
    float: left;
    padding-left: 70px;
}

#strawberry-recipe-text button {
    width: 130px;
    height: 40px;
    margin-top: 10px;
    
    font-family: Montserrat;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid darkslategray;
    
    color: darkslategray;
    background-color: transparent;
}

#coconut-recipe-image {
    width: 50%;
    height: 600px;

    background: url("../images/coconut-smoothie.jpg") no-repeat center center;
    background-size: cover;
    float: left;
}

#coconut-recipe-text {
    width: 40%;
    height: 600px;
    float: right;
    padding-right: 50px;
}

#coconut-recipe-text button {
    width: 130px;
    height: 40px;
    margin-top: 10px;
    
    font-family: Montserrat;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid darkslategray;
    
    color: darkslategray;
    background-color: transparent;
}

#blueberry-recipe-image {
    width: 50%;
    height: 600px;

    background: url("../images/blueberry-smoothie.jpg") no-repeat center center;
    background-size: cover;
    float: right;
}

#blueberry-recipe-text {
    width: 40%;
    height: 600px;
    float: left;
    padding-left: 70px;
}

#blueberry-recipe-text button {
    width: 130px;
    height: 40px;
    margin-top: 10px;
    
    font-family: Montserrat;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid darkslategray;
    
    color: darkslategray;
    background-color: transparent;
}

/* Share smoothie page */

/* Background image */

#share-image {
    width: 100vw;
    height: 90vh;

    background: url("../images/share-image.jpg") no-repeat center center;
    background-color: slategray;
    background-size: cover;
    background-position: top;
}

#share-overlay {
    color: #fff;
    text-align: center;
    font-size: 180%;

    width: 600px;
    height: 100px;

    bottom: 100px;
    left: 80px;

    padding: 25px;

    background-color: rgba(96, 84, 90, 0.5);

    position: absolute;
}

/* Form */

.share {
    width: 50%;
    height: 500px;
    font-size: 120%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.input {
    width: 90%;
    padding: 12px;
    margin: 8px;
    border: 1px solid slategray;
}

.send-button {
    background-color: slategray;
    color: #fff;
    text-align: center;
    font-size: 120%;

    margin: 8px;
    padding: 12px;
}

.send-button:hover {
    transform: scale(1.2);
}

/* Media queries */

/* index.html  */

@media screen and (max-width: 900px) {

    #hero-image {
        height: 600px;
        margin: 0 auto;
    }

    #hero-text {
        display: none;
    }

    #advantages {
        height: 600px;
        margin: 0 auto;
    }

    .advantages {
        flex-direction: column;
        padding-top: 0px;
    }

    #popular-smoothies {
        width: 100%;
        height: 1650px;
        flex-direction: column;
    }

    #banana-image {
        width: 100%;
    }

    #strawberry-image {
        width: 100%;
    }

    #coconut-image {
        width: 100%;
    }

    #blueberry-image {
        width: 100%;
    }

    .socials {
        font-size: 140%;
        padding-top: 40px;
    }

/* recipe.html */

    #recipes-images {
        width: 100%;
        height: 600px;
    }

    #recipes-overlay {
        display: none;
    }

    #banana-recipe-image {
        width: 100%;
        height: 400px;
    }

    #banana-recipe-text {
        width: 100%;
        height: 1000px;
        text-align: center;
        float: none;
        padding: 0;
    }

    #strawberry-recipe-image {
        width: 100%;
        height: 400px;
    }

    #strawberry-recipe-text {
        width: 100%;
        height: 1050px;
        text-align: center;
        float: none;
        padding: 0;
    }

    #coconut-recipe-image {
        width: 100%;
        height: 400px;
    }

    #coconut-recipe-text {
        width: 100%;
        height: 900px;
        text-align: center;
        float: none;
        padding: 0;
    }

    #blueberry-recipe-image {
        width: 100%;
        height: 400px;
    }

    #blueberry-recipe-text {
        width: 100%;
        height: 1000px;
        text-align: center;
        float: none;
        padding: 0;
    }

    /* Share recipes on screens 900px and below */

    #share-image {
        width: 100%;
        height: 600px;
    }

    #share-overlay {
        display: none;
    }
}